.formCtnr {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.formCtnr form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: var(--pink2);
  padding: var(--space-l) var(--space-m);
  border-radius: var(--radius-m);
  color: var(--pink6);
}

.formHeader {
  margin-bottom: var(--space-s);
  font-size: var(--step-2);
}
.formHeader h2 {
  line-height: 0.9;
  margin-bottom: 5px;
}
.formHeader p {
  font-size: var(--step-0);
}

.option {
  font-size: var(--step-2);
  display: flex;
  align-items: center;
  gap: 0.75rem;
  cursor: pointer;
  margin-bottom: var(--space-xs);
  line-height: 0.9;
}

.formCtnr button {
  width: 90%;
  margin: 0 auto;
  margin-top: var(--space-s);
  border: 1px solid white;
  background-color: var(--pink5);
  padding: var(--space-2xs);
  border-radius: var(--radius-xl);
  font-size: var(--step-1);
}

/* Confirmation */
.centerWrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success {
  background-color: var(--pink2);
  padding: 2rem;
  border-radius: 12px;
}
.success h2 {
  font-size: var(--step-3);
}
.success p {
  font-size: var(--step-1);
}
